{{>layouts/header}}

<form class="container" action="/articles/create" method="post">
    <div class="mb-3">
        <label class="form-label">제목</label>
        <input type="text" class="form-control" name="title">  <!-- name 속성을 추가해 DTO의 title필드와 연결 -->
    </div>
    <div class="mb-3">
        <label class="form-label">내용</label>
        <textarea class="form-control" rows="3" name="content"></textarea> <!-- name 속성을 추가해 DTO의 content필드와 연결 -->
    </div>
    <button type="submit" class="btn btn-primary">Sumbit</button>
</form>

{{>layouts/footer}}
